<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.customproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <!--屏幕适配方案宽度和高度设置,单位：px-->
    <meta-data
        android:name="design_width"
        android:value="768" />
    <meta-data
        android:name="design_height"
        android:value="1280" />

    <application
        android:name=".application.AppHolder"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.mvp.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.mvp.main.MainActivity" />
    </application>

</manifest>